{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("Proto Keystone") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link href="/styles/site.css" rel="stylesheet">

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}


		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="brandWrapper">
			<i class="fas fa-american-sign-language-interpreting"></i>
		</div>
		{# HEADER #}
		<div id="header" class="">
			{# Customise your site"s navigation by changing the navLinks Array in ./routes/middleware.js
			   ... or completely change this header to suit your design. #}
			<div role="navigation" id="trainRail">
				<ul id="navigationList">
					{% for link in navLinks %}
					<li class="{{ 'active' if link.key == section else '' }}">
						<a class="navItems" href="/{{ locale }}{{ link.href }}">{{ __(link.label) }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		{# BODY #}
		<div id="bodyContent">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}

			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}

			{# Flash messages allow you to display once-off status messages to users, e.g. form
			   validation errors, success messages, etc. #}
			{{ FM.flashMessages(messages) }}

			{# The content block should contain the body of your template"s content #}
			{% block content %}{% endblock %}
		</div>


		{# FOOTER #}
		<div id="footer" class="container">
			<p>
				{{ __("IBD is powered by %s. %s", "<a href=\"http://keystonejs.com\" target=\"_blank\">KeystoneJS</a>", "Copyright &copy;<span class=\"currentYear\"></span>") | safe }}
				{% if user %}
					{% if user.canAccessKeystone %}
						<a class="" href="/keystone">{{ __("Open Keystone") }}</a>
					{% endif %}
					<a class="" href="/keystone/signout">{{ __("Sign Out") }}</a>
				{% else %}
					<a class="" href="/keystone/signin">{{ __("Sign In") }}</a>
				{% endif %}
			</p>
		</div>


		{# JAVASCRIPT #}

		{# jQuery 1.11.3 is included by default, and required by both Bootstrap
			and the KeystoneJS Content Editor. If you are not targeting IE8,
			you can upgrade to 2.1.4 (also bundled) for better performance. #}
		<script src="/js/jquery/jquery-2.1.4.min.js"></script>

		{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
			which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		{# Add scripts that are globally required by your site here. #}
		<script src="/js/navbar.js"></script>
		<script>
(function () {
	$(".currentYear").text((new Date()).getFullYear());
	let keys = "";
	document.addEventListener('keydown', function (e) {
		keys += e.key;
		if (keys.endsWith('ArrowUpArrowUpArrowDownArrowDownArrowLeftArrowRightArrowLeftArrowRightba')) {
			let konami = document.createElement('script');
			konami.src = '/js/konami.js';
			document.head.appendChild(konami);
		}
		keys = keys.substring((keys.length > 100 ? keys.length - 100 : 0));
	});
})();
		</script>

		{# Include template-specific javascript files by extending the js block #}
		{% block js %}{% endblock %}
	</body>
</html>
