{% extends "layouts/default.html" %}

{% block intro %}
<div id = "contactWrapper">
<div class="contactFormWrapper">
	<div class="introWrapper">
			<h2 class="introTitle">Contact Us</h2>
	</div>
{% endblock %}

{% block content %}
	
			<div id="ListenToUsInContact">
				<p>Interesting by Design are interested in your thoughts ! Sooooo... Contact US now !!</p>
				<p>Giving your opinions about our work help us improve in many ways!</br>
				Or maybe you just want to get in touch with us.</br>
				Well, in both ways we are eager to here about you.</br>
				Share your mind !</p>
			</div>
		{% if enquirySubmitted %}
			<h3>Thanks for getting in touch.</h3>
		{% else %}
			<form method="post" class="contactForm">
				<input type="hidden" name="action" value="contact">

				{% set class = ( "has-error" if validationErrors.name else "" ) %}
				<div class="form-group {{ class }}"></div>
				<span>Name</span>
				<input type="text" name="name.full" value="{{ formData["name.full"] }}" class="form-control">

				{% set class = ( "has-error" if validationErrors.email else "" ) %}
				<div class="form-group {{ class }}"></div>
				<span>Email</span>
				<input type="email" name="email" value="{{ formData.email }}" class="form-control">
				
				<div class="form-group"></div>
				<span>Phone</span>
				<input type="text" name="phone" value="{{ formData.phone }}" placeholder="(optional)" class="form-control">
				
				{% set class = ( "has-error" if validationErrors.enquiryType else "" ) %}
				<div class="form-group {{ class }}"></div>
				<span>What are you contacting us about?</span>
				<select name="enquiryType" class="form-control">
				<option value="">(select one)</option>
				{% for type in enquiryTypes %}
					{% set selected = ( 'selected="selected"' if formData.enquiryType == type.value else "" ) %}
					<option value="{{type.value}}" {{ selected }}>{{ type.label }}</option>
				{% endfor %}
				</select>
				
				{% set class = ( "has-error" if validationErrors.message else "" ) %}
				<div class="form-group {{ class }}"></div>
				<span>Message</span>
				<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{ formData.message }}</textarea>
				
				<div class="form-actions"></div>
				<button type="submit" class="btn btn-primary">Send</button>
				
			</form>
		{% endif %}
	</div>
	<div class = "aboutImageWrapper">
	</div>
</div>
{% endblock %}
