{% extends "layouts/default.html" %}

{% block content %}
<div id="HomePageTitle">
	<h2><span class="titleQuestion">Looking for something interesting ?</span></br><span class="titleAnswer">You're in the Good Place</span></h2>
</div>
	
<div id="HomePageContainer">
	<div id="DevContainer" class="homePageItem">
		<h3>We are web dev</h3>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Phasellus pretium, urna ac finibus laoreet, odio libero rutrum ante, vitae dapibus sapien felis sed nibh.
			Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam fermentum quam metus, sit amet interdum velit vulputate eu. 
			Integer interdum, dui et efficitur commodo, risus ipsum condimentum purus, pulvinar rhoncus nibh quam sit amet enim. Pellentesque lobortis purus in felis tempor sollicitudin. 
			Morbi id neque dapibus, faucibus metus nec, rhoncus erat. Proin nec libero a tortor malesuada finibus. Proin et metus semper, luctus nibh eu, venenatis metus.
		</div>
	</div>

	<div id="ExpContainer" class="homePageItem">
			<h3>Experimenting</h3>
			<div>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				Phasellus pretium, urna ac finibus laoreet, odio libero rutrum ante, vitae dapibus sapien felis sed nibh.
				Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam fermentum quam metus, sit amet interdum velit vulputate eu. 
				Integer interdum, dui et efficitur commodo, risus ipsum condimentum purus, pulvinar rhoncus nibh quam sit amet enim. Pellentesque lobortis purus in felis tempor sollicitudin. 
				Morbi id neque dapibus, faucibus metus nec, rhoncus erat. Proin nec libero a tortor malesuada finibus. Proin et metus semper, luctus nibh eu, venenatis metus.
			</div>
	</div>

	<div id="GameContainer" class="homePageItem">
		<h3>Design but about games</h3>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Phasellus pretium, urna ac finibus laoreet, odio libero rutrum ante, vitae dapibus sapien felis sed nibh.
			Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam fermentum quam metus, sit amet interdum velit vulputate eu. 
			Integer interdum, dui et efficitur commodo, risus ipsum condimentum purus, pulvinar rhoncus nibh quam sit amet enim. Pellentesque lobortis purus in felis tempor sollicitudin. 
			Morbi id neque dapibus, faucibus metus nec, rhoncus erat. Proin nec libero a tortor malesuada finibus. Proin et metus semper, luctus nibh eu, venenatis metus.
		</div>
	</div>
	{% if user and user.canAccessKeystone %}
		<p>
			<a href="/keystone" class="btn btn-lg btn-primary">Open the Admin UI</a>
		</p>
	{% else %}
		<p>We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.</p>
		<p>
			<a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a>
			to use the Admin UI.
		</p>
	{% endif %}
</div>
{% endblock %}
