{% extends "layouts/default.html" %}

{% block content %}

{% set newsData = news | processNewsAsync(locale) %}
<div id="newsContainer">
	<div id="TheReaderWrapper">
		<h3 id="readerName">{{ newsData[0].name }}</h3>
		{# We use news and not newsData for the date because of the server side formatting #}
		<h5 id="readerPublished">{{ __("news.published") + " : " + news[0]._.publishedAt.format("Do MMM YYYY") }}</h5>
		<div class="articleContent activeArticle" id="readerContent">{{ newsData[0].content | safe }}</div>
	</div>
	<div id="newsList">
		{% for article in newsData %}
			<div class="articleWrapper {{ "selected" if loop.index == 1 else "" }}" data-id="{{ article._id }}">
				<h4>{{ article.name }}</h4>
				<h5>{{ __("news.published") + " : " + news[loop.index0]._.publishedAt.format("Do MMM YYYY") }}</h5>
				<div class="articleContent">{{ article.synopsis | safe }}</div>
			</div>
		{% else %}
			{{ __("news.nonews") }}
		{% endfor %}
	</div>
	<input type="hidden" id="newsData" value="{{ utils.stringify(newsData) }}">

</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
<script src="/js/news.js"></script>
{% endblock %}
