{% extends "layouts/default.html" %}

{% block content %}

<div id="newsContainer">
	<div id="TheReaderWrapper">
		<h3>{{ news[0].name }}</h3>
		<h5>Published : {{ news[0]._.publishedAt.format("Do MMM YYYY") }}</h5>
		<div class="articleContent activeArticle">{{ news[0].content | safe }}</div>
	</div>
	<div id="newsList">
		{% for article in news %}
		<div class="articleWrapper">
			<h4>{{ article.name }}</h4>
			<h5>Published : {{ article._.publishedAt.format("Do MMM YYYY") }}</h5>
			<div class="articleContent">{{ article.synopsis | safe }}</div>
		</div>
		{% endfor %}
		{% if (news.length === 0) %}
		<p>There's no news.<br/>Sad.</p>
		{% endif %}
	</div>

</div>
{% endblock %}


