/*Card CSS for about module*/

.aboutContainer{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.aboutCardWrapper{
	display: inline-grid;
	grid-template-columns: 300px;
	grid-template-rows: 300px auto auto;
	margin-bottom: 15px;
}

.cardName{
	color: #ffffff;
	background-color: #111111;
	padding: 1em;
	letter-spacing: 5px;
	font-size: 1.5em;
	margin: 0px;
}

.cardDescription{
	background-color: #ffffff;
	margin: 0px;
	padding: 1em;
	text-align: justify;
	line-height: 1.4em;
}
