/*CSS for contact*/


.contactForm{
	display: inline-flex;
	flex-direction: column;
	background-color: $backgroundDark;
	color: $textColorDark1;
	font-size: 1.2em;
	font-weight: bold;
	padding: 1em;
	
	input, textarea, select{
		border: none;
		background-color: $background;
		padding: 0.3em;
		margin-bottom: 0.4em;
	}

	button{
		border: $background solid 0.3em;
		background-color: $backgroundDark;
		color: $textColorDark1;
		font-weight: bold;
		margin-top: 1em;
		padding: 0.5em;
		align-self: center;
		outline: none;
	}

	button:hover{
		width: -webkit-fill-available;;
	}

	button:active{
		background-color: $background;
		color: $textColor;
	}

	span{
		margin-bottom: 0.2em;
	}
}


.contactFormWrapper{
	display: inline-flex;
	flex-direction: column;
	width: 30%;
}

#flash-messages{

	background-color: #111111;
	color: #e0e0e0;
	padding: 0.5em;

	h5{
		color:$accentColor;
		font-size: 1em;
		margin: unset;
	}
}

#ListenToUsInContact{
	padding-left: 1em;
}
