/*CSS for contact*/

#contactWrapper{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.contactForm{
	display: inline-flex;
	flex-direction: column;
	background-color: var(--background-dark);
	color: var(--text-color-dark1);
	font-size: 1.2em;
	font-weight: bold;
	padding: 1em;
	
	input, textarea, select{
		border: none;
		background-color: var(--background);
		padding: 0.3em;
		margin-bottom: 0.4em;
	}

	select{
		cursor: pointer;
	}

	button{
		border: var(--background) solid 0.3em;
		background-color: var(--background-dark);
		color: var(--text-color-dark1);
		font-weight: bold;
		margin-top: 1em;
		padding: 0.5em;
		align-self: center;
		outline: none;
		cursor: pointer;
	}

	button:hover{
		width: -webkit-fill-available;;
	}

	button:active{
		background-color: var(--background);
		color: var(--text-color);
	}

	span{
		margin-bottom: 0.2em;
	}
}


.contactFormWrapper{
	display: inline-flex;
	flex-direction: column;
	padding-right: 10%;
}

#flash-messages{

	background-color: #111111;
	color: #e0e0e0;
	padding: 0.5em;

	h5{
		color:var(--accent-color);
		font-size: 1em;
		margin: unset;
	}
}

.aboutImageWrapper{
	background-image: url("../images/about/rotary.jpg");
	background-position-y: center;
}

#ListenToUsInContact{
	padding-left: 1em;
}
