/*CSS for contact*/

#contactWrapper{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: "contact animation"
}

.contactForm{
	display: inline-flex;
	flex-direction: column;
	background-color: var(--background-dark);
	color: var(--text-color-dark);
	font-size: 1.2em;
	font-weight: bold;
	padding: 1em;
	
	input, textarea, select{
		border: none;
		background-color: var(--background);
		padding: 0.3em;
		margin-bottom: 0.4em;
	}

	select{
		cursor: pointer;
	}

	button{
		border: var(--background) solid 0.3em;
		background-color: var(--background-dark);
		color: var(--text-color-dark);
		font-weight: bold;
		margin-top: 1em;
		padding: 0.5em;
		align-self: center;
		outline: none;
		cursor: pointer;
	}

	button:hover{
		width: -webkit-fill-available;;
	}

	button:active{
		background-color: var(--background);
		color: var(--text-color);
	}

	span{
		margin-bottom: 0.2em;
	}
}



.contactFormWrapper{
	grid-area: contact;
	display: inline-flex;
	flex-direction: column;
	padding-right: 10%;

	.introWrapper{
		background-color: white;
		clip-path: polygon(90% 0, 95% 15%, 100% 95%, 100% 100%, 0 100%, 0% 0);
	}

	#ListenToUsInContact{
		padding-left: 1em;
		background-color: white;
	}

	h2{
		background: var(--background-dark);
	}
}

#flash-messages{

	background-color: #111111;
	color: #e0e0e0;
	padding: 0.5em;

	h5{
		color:var(--accent-color);
		font-size: 1em;
		margin: unset;
	}
}

.contactAnimWrapper{
	grid-area: animation;
}

#contactAnim {
	width: 100%;
	height: 100%;
	background: var(--background);
}
