/*CSS for Home Page*/
#HomePageTitle{
	h2{
		padding:unset;
	}
}

#HomePageContainer{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 30px;

	h2{
		padding:unset;
	}
}

.homePageListItems{
	grid-column-start: 1;
	color: var(--text-color-dark1);

	h3{
		background: var(--background-dark);
    padding: 5px;
    padding-right: 25px;
    margin: 0px;
		display: inline-block;
		clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
	}

	div{
		background: var(--background-dark);
		padding:5px;
	}
}

.titleQuestion{
	background: var(--background-dark);
	padding:5px;
	padding-right: 20px;
	clip-path: polygon(0 0, 97% 0, 101% 100%, 0% 100%);
}

.titleAnswer{
	font-size: 0.8em;
	padding: 5px;
	padding-left: 20px;

	float: right;
	position: relative;
	background: var(--background-dark);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}
