/*CSS for Home Page*/
#HomePageTitle{
	h2{
		padding:unset;
	}
}

#HomePageContainer{

	h2{
		padding:unset;
	}

	
}

.homePageItem{
	grid-column-start: 1;
	color: var(--text-color-dark1);
	text-align: center;
	border-top: solid #111111;
	padding-bottom: 40px;
	background: linear-gradient(#111111b8,#ffffff00);

	h3{
		background: var(--background-dark);
		color: var(--text-color-dark);
    padding: 5px;
		padding-right: 25px;
		padding-left: 25px;
    margin: 0px;
		display: inline-block;
		clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
	}

	div{
		padding:5px;
	}
}

.titleQuestion{
	background: var(--background-dark);
	padding:5px;
	padding-right: 20px;
	clip-path: polygon(0 0, 97% 0, 101% 100%, 0% 100%);
}

.titleAnswer{
	font-size: 0.8em;
	padding: 5px;
	padding-left: 20px;

	float: right;
	position: relative;
	background: var(--background-dark);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}
