/*Importing font here*/
// @import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans');


html{
	padding:0px;
	margin: 0px;
	height: 100%;
}

//Scrollbar !!

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background); 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--text-color-dark2); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--accent-color); 
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: var(--font-size-base);
	// line-height: 1.42857;
	color: var(--text-color);
	display: grid;
	grid-template-columns: minmax(150px, 15%) auto;
	grid-template-rows: auto;
	grid-template-areas: "nav main";

	background-color: var(--background);
	padding:0px;
	margin: 0px;
	height: 100%;
}

a {
	color:var(--text-color);
	font-weight: bold;
	text-decoration: none;

	&:hover, &:visited:hover {
		color: var(--accent-color);
	}

	&:visited {
		color:var(--text-color);
	}
}

h2{
	color: var(--text-color-dark);
	font-weight: bolder;
	display: inline-block;
	padding: 0 2em;
	font-size: 2.2em;
}

#brandWrapper{
	grid-area:brand;
	padding:10px;
	margin:10px;
	background-color: var(--background-dark);
	color: var(--text-color-dark);
	font-size: 3em;
}

/*CSS for header + nav bar*/
#nav {
	grid-area: nav;
	background-color: var(--background-dark);
	padding: 1em;
	display: flex;
	flex-direction: column;

	a {
		color: var(--text-color-dark);

		&:hover {
			color: var(--accent-color);
		}
	}

	#navigationList{
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 1.3em;

		li {
			padding: 0.5em;
		}

		.active {
			border: 1px solid var(--text-color-dark);
		}

		.navItems {
			i {
				font-size: 1.2em;
				margin-right: 5px;
			}
		}
	}
}


#bodyContent{
	grid-area: main;
	margin: 1em;
}

/*CSS for footer*/
#footer {
	color: var(--text-color-dark2);
	background-color: var(--background-dark);
	margin-top: auto;
	text-align: center;

	a {
		color: var(--text-color-dark);

		&:hover {
			color: var(--accent-color);
		}
	}

	p {
		margin: 0;
	}
}
