/*Importing font here*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans');

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
	display: block;
	max-width: 100%;
	height: auto;
}

*{
	padding:0px;
	margin: 0px;
	font-family: 'Open Sans', monospace;
}

html{
	height: 100%
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333333;
	background-color: #111111;

	display: grid;
	grid-template-columns: 20% auto 1%;
	grid-template-rows: repeat(3,auto);
	grid-row-gap: 20px;
	grid-column-gap: 10px;
	

	background: url(/images/Hexagrid2000.png), linear-gradient(rgb(97, 0, 255),#111111);
	background-size: contain;
}

#header{
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	margin-top: 30px;

    background-color: #11111187;
    border-bottom: solid #111111 1px;
    border-top: solid #111111 1px;
    box-shadow: 0 0 5px 0;
}

#navigationList{

}

#loginPanel{
	vertical-align: top;
	float: right;
}

.navContainer{
    display: inline-flex;
    padding: 10px;
    list-style: none;
    background-color: #cccccc;
    box-shadow: inset 0 0 3px 0 #5501dd, 0 0 3px 0 white;
}

.navItems{
	padding: 10px;
}

#body{
	grid-column-start: 2;
	grid-row-start: 2;
}

#footer{
	grid-column-start: 2;
	grid-row-start: 3;
}

.container{
	background-color: #e8e8e8;
	padding: 10px;
	box-shadow:1px 1px 2px 1px white, -2px -2px 5px 0 #5501dd;
	border-radius: 0px 0px 10px 0px;
}

/*Card CSS for about module*/

.aboutCardWrapper{

	display: inline-grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: 10px min-content min-content min-content 10px;
    box-shadow: 1px 1px 3px 0;
    grid-column-gap: 10px;

}

.cardImage{
	height: 200px;
    grid-row-start: 1;
    grid-row-end: -1;
}

.cardName{
	background: linear-gradient(to right, #6100ff, #e8e8e8);
    color: #e8e8e8;
    padding: 5px;
	padding-left: 10px;
	grid-row-start: 2;
	box-shadow: -1px 1px 3px 0 #676767;
}

.cardDescription{
	background: linear-gradient(to right, #6100ff, #e8e8e8);
    color: #e8e8e8;
    padding: 5px;
    padding-left: 10px;
	grid-row-start: -3;
	box-shadow: -1px 1px 3px 0 #676767;
}

/*Keyframes are written here !!!!!!!!!!!*/
@keyframes sunlight{
	from {
		background: radial-gradient(circle at 0% 110px,rgb(255, 129, 0)-1%, rgba(255, 235, 0, 0.55) 5%, rgb(3, 150, 255)15%,rgba(0, 156, 255, 0.28)120%);
	}
	to {
		background: radial-gradient(circle at 100% 110px,rgb(255, 129, 0)-1%, rgba(255, 235, 0, 0.55) 5%, rgb(3, 150, 255)15%,rgba(0, 156, 255, 0.28)120%);
	}
}