/*
Color Chart Dark red Workshop:
	#111111 Licorice
	#e9e9e9 Platinium
	#e09f3e Good Yellow
	#9e2a2b Good Red
	#540b0e Bad Red
*/

/*
Color Chart blue green peace:
	#A09EBB pastel purple
	#A8AEC1 Wild Blue Yonder
	#B5D2CB Pastel Blue
	#BFFFBC Tea Green
	#A6FFA1 Mint Green
*/

$backgroundColor: #E0E0E0;
$elementColor:#111111;
$elementFont:#E0E0E0;


$fontColor:#111111; //Used for the overall site
$secondaryFontColor:#777777; //used for footer

$mainColor: #248232;
$headerColor: #540b0e;
$tertiaryColor: #248232;

/*Importing font here*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans');

.gallery-image img{
	display: block;
	max-width: 100%;
	height: auto;
}

/*Web général elements*/

*{
	padding:0px;
	margin: 0px;
	font-family: 'Open Sans', monospace;
}

html{
	height: 100%
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: $fontColor;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
	"brand header"
	"main main"
	"footer footer";

    background-color: $backgroundColor;
    background-size: 13px;
    background-attachment: fixed;
    height: 100%;
	
	/*commented key frames*/
	/*animation-name: MagicBreath;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-direction: alternate;*/
}

h1{
	color:$headerColor
}

a{
	color:$headerColor;
}

a:hover{
	color:$mainColor;
	transform:skew(-10deg);
}

a:visited{
	color:$headerColor;
}

a:hover:visited {
	color:$mainColor;
}

#brandWrapper{
	grid-area:brand;
	padding:20px;
	background-color: $elementColor;
	color: $backgroundColor;
	font-size: 3em;
}
/*CSS for header + nav bar*/
#header{
	grid-row-start: 2;
	grid-area:header;
	background-color: $elementColor;
    display: inline-flex;
    align-items: flex-end;
}


#loginPanel{
	vertical-align: top;
	float: right;
}

.navContainer{
	display: inline-flex;
	list-style: none;
	position: relative;
}

#navigationList{

	left:2%;
	li:first-child {
		border-radius: 60% 10% 10% 60%;
	}

	li:last-child {
		border-radius: 10% 60% 60% 10% ;
	}
}

.navItems{
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.navItems a{
	color: $elementFont;
}

#trainRail{
	padding: 20px;
    font-size: 1.3em;
}

.trainSide{
    position: relative;
    bottom: 10px;
    background-color: $mainColor;
    box-shadow: inset 0 0 5px 1px $tertiaryColor;
    height: 40px;
    width: 40px;
}

.trainWagon{
	height: 20px;
	position: relative;
	bottom: 10px;
}

#bodyContent{
	grid-row-start: 3;
	padding: 20px;
	grid-area: main;
}

.container{
	grid-column-start: 1;
	grid-column-end: -1;

	padding: 10px;
}
/*CSS for footer*/
#footer {
	grid-area:footer;
	color: $secondaryFontColor;
	background-color: $elementColor;
}

/*CSS for Home Page*/
#HomePageContainer{
	display: grid;
	grid-row-gap: 20px;
}

#HomePageContainer h1{
	color: $headerColor;
    font-weight: bolder;
    display: inline-block;
}

/*CSS for contact*/

.introWrapper{
	display: flex;
}

.introContainer{
	background-color: #ffffff;
	padding: 15px;
	box-shadow: 2px 2px 5px 1px #0000007a;
	border-radius: 0px 0px 0px 100%;
}

.introTitle{

}

.introContent{

}

#ListenToUsInContact p{

}

.contactFormWrapper{
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.contactForm{
	display: inline-grid;
	grid-template-columns: 150px minmax(100px,160px) minmax(100px,auto);
	grid-gap: 10px;

	box-shadow: 1px 1px 5px 0 black;
	padding: 15px;
	background-color: #c498ffd6;

}

.contactForm span{
	font-weight:bolder;
}

.contactForm textarea{
	grid-column-start: 2;
	grid-column-end: -1;
	height: 150px;
}

.usualBackground{
	background-color: #ffffff;
    padding: 15px;
    box-shadow: 2px 2px 5px 1px #0000007a;
}

.bottomProtection{
	border-radius: 0px 0px 100% 0px;
}
.topProtection{
	border-radius: 0px 100% 0px 0px;
}

.form-group {
    grid-column-start: 1;
    grid-column-end: -1;
}

.introStick{
	margin-left: 5px;
}

/*Card CSS for about module*/

.aboutCardWrapper{

	display: inline-grid;
	grid-template-columns: 150px 200px;
	grid-template-rows: 10px min-content min-content min-content 10px;
	box-shadow: 1px 1px 3px 0;
	grid-column-gap: 10px;
}

.cardImage{
	height: 200px;
	grid-row-start: 1;
	grid-row-end: -1;
}

.cardName{
	background: linear-gradient(to right, #6100ff, #e8e8e8);
	color: #e8e8e8;
	padding: 5px;
	padding-left: 10px;
	grid-row-start: 2;
	box-shadow: -1px 1px 3px 0 #676767;
}

.cardDescription{
	background: linear-gradient(to right, #6100ff, #e8e8e8);
	color: #e8e8e8;
	padding: 5px;
	padding-left: 10px;
	grid-row-start: -3;
	box-shadow: -1px 1px 3px 0 #676767;
}

/*Keyframes are written here !!!!!!!!!!!*/
@keyframes sunlight{
	from {
		background: radial-gradient(circle at 0% 110px,rgb(255, 129, 0)-1%, rgba(255, 235, 0, 0.55) 5%, rgb(3, 150, 255)15%,rgba(0, 156, 255, 0.28)120%);
	}
	to {
		background: radial-gradient(circle at 100% 110px,rgb(255, 129, 0)-1%, rgba(255, 235, 0, 0.55) 5%, rgb(3, 150, 255)15%,rgba(0, 156, 255, 0.28)120%);
	}
}

@keyframes MagicBreath{
	from{
		background: url(/images/HexaScale.png), linear-gradient(#6d00ff,#fff 50%);
	}
	to{
		background: url(/images/HexaScale.png), linear-gradient(#3200ff,#fff 100%);
	}
}

@keyframes magicBorderRadius{
	from{
		border-radius: 0px;
	}

	to{
		border-radius: 25px;
	}
}
