/*Importing font here*/
// @import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans');


html{
	padding:0px;
	margin: 0px;
	height: 100%
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: $font-size-base;
	// line-height: 1.42857;
	color: $textColor;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
	"brand header"
	"main main"
	"footer footer";

	background-color: $background;
	padding:0px;
	margin: 0px;
	height: 100%;
}

a {
	color:$textColor;
	font-weight: bold;
	text-decoration: none;

	&:hover, &:visited:hover {
		color: $accentColor;
	}

	&:visited {
		color:$textColor;
	}
}

h2{
	color: $textColorDark1;
	background: $backgroundDark;
	font-weight: bolder;
	display: inline-block;
	padding: 0 2em;
	font-size: 2.2em;
}

#brandWrapper{
	grid-area:brand;
	padding:20px;
	background-color: $backgroundDark;
	color: $textColorDark1;
	font-size: 3em;
}

/*CSS for header + nav bar*/
#header{
	grid-area:header;
	background-color: $backgroundDark;
	display: inline-flex;
	align-items: flex-end;
	padding: 1em 0;

	a {
		color: $textColorDark1;

		&:hover {
			color: $accentColor;
		}
	}

	#trainRail{
		font-size: 1.3em;
		width: 100%;
	}

	#navigationList{
		display: inline-flex;
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0;

		li {
			padding: 0.5em;
		}

		.active {
			border: 1px solid $textColorDark1;
		}
	}
}

#bodyContent{
	padding: 20px;
	grid-area: main;
}

/*CSS for footer*/
#footer {
	grid-area: footer;
	color: $textColorDark2;
	background-color: $backgroundDark;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		color: $textColorDark1;

		&:hover {
			color: $accentColor;
		}
	}
}
