/*Importing font here*/
// @import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans');


html{
	padding:0px;
	margin: 0px;
	height: 100%;
}

//Scrollbar !!

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background); 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--text-color-dark2); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--accent-color); 
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: var(--font-size-base);
	// line-height: 1.42857;
	color: var(--text-color);
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 
	"brand header"
	"main main"
	"footer footer";

	background-color: var(--background);
	padding:0px;
	margin: 0px;
	height: 100%;
}

a {
	color:var(--text-color);
	font-weight: bold;
	text-decoration: none;

	&:hover, &:visited:hover {
		color: var(--accent-color);
	}

	&:visited {
		color:var(--text-color);
	}
}

h2{
	color: var(--text-color-dark1);
	background: var(--background-dark);
	font-weight: bolder;
	display: inline-block;
	padding: 0 2em;
	font-size: 2.2em;
}

#brandWrapper{
	grid-area:brand;
	padding:10px;
	margin:10px;
	background-color: var(--background-dark);
	color: var(--text-color-dark1);
	font-size: 3em;
}

/*CSS for header + nav bar*/
#header{
	grid-area:header;
	background-color: var(--background-dark);
	display: inline-flex;
	align-items: flex-end;
	padding: 1em;

	a {
		color: var(--text-color-dark1);

		&:hover {
			color: var(--accent-color);
		}
	}

	#trainRail{
		font-size: 1.3em;
		width: 100%;
	}

	#navigationList{
		display: inline-flex;
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0;

		li {
			padding: 0.5em;
		}

		.active {
			border: 1px solid var(--text-color-dark1);
		}
	}
}

#bodyContent{
	padding: 20px;
	grid-area: main;
}

/*CSS for footer*/
#footer {
	grid-area: footer;
	color: var(--text-color-dark2);
	background-color: var(--background-dark);
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	a {
		color: var(--text-color-dark1);

		&:hover {
			color: var(--accent-color);
		}
	}
}
