/*Importing font here*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans');

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
	display: block;
	max-width: 100%;
	height: auto;
}

*{
	padding:0px;
	margin: 0px;
	font-family: 'Open Sans', monospace;
}

html{
	height: 100%
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333333;
	background-color: #111111;
	display: grid;
	grid-template-columns: 20% auto 1%;
	grid-template-rows: repeat(3, auto);
	grid-row-gap: 20px;
	grid-column-gap: 10px;

	background: url(/images/HexaScale.png), linear-gradient(#6d00ff,#fff 50%);

	background-size: 13px;
	background-attachment: fixed;
	
	/*commented key frames*/
	/*animation-name: MagicBreath;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-direction: alternate;*/
}

#header{
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	margin-top: 30px;

	background-color: #b2b2b287;
    border-bottom: solid #686868 1px;
    border-top: solid #686868 1px;
    box-shadow: inset 0 0 5px 0;
}

#navigationList{

}

#loginPanel{
	vertical-align: top;
	float: right;
}

.navContainer{
    display: inline-flex;
    list-style: none;
}


.navItems{
	padding: 10px;
	background-color: #ffffff;
	box-shadow: inset 0 0 3px 0 #5501dd, 0 0 3px 0 white;

	margin-left: 1px;
    margin-right: 1px;
    border-radius: 5%;
}

#trainRail{
	height: 20px;
}

.trainSide{
	position: relative;
	bottom: 10px;
	background-color: #ffffff;
	box-shadow: inset 0 0 3px 0 #5501dd, 0 0 3px 0 white;
	height: 40px;
	width: 40px;
}

.trainWagon{
	height: 20px;
	position: relative;
	bottom: 10px;
}

#trainTail{
	border-radius: 60% 10% 10% 60%;
}

#trainHead{
	border-radius: 10% 60% 60% 10% ;
}

#body{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
	padding: 20px;
	
	display: grid;
    grid-template-columns: 20% auto 1%;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

#footer{
	grid-column-start: 2;
	grid-row-start: 3;
}

.container{
	grid-column-start: 1;
    grid-column-end: -1;

    background-color: #ffffff;
    padding: 10px;
    box-shadow: 2px 2px 5px 1px #0000007a;
    border-radius: 0px 0px 10px 0px;
    margin-bottom: 15px;
}

/*CSS for contact*/

.introContainer{
	background-color: #ffffff;
    padding: 10px;
    box-shadow: 2px 2px 5px 1px #0000007a;
    border-radius: 0px 0px 10px 0px;
    margin-bottom: 15px;
}

.introTitle{

}

.introContent{

}

.contactFormWrapper{
	grid-column-start: 2;
}

.contactForm{

}

/*Card CSS for about module*/

.aboutCardWrapper{

	display: inline-grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: 10px min-content min-content min-content 10px;
    box-shadow: 1px 1px 3px 0;
    grid-column-gap: 10px;

}

.cardImage{
	height: 200px;
    grid-row-start: 1;
    grid-row-end: -1;
}

.cardName{
	background: linear-gradient(to right, #6100ff, #e8e8e8);
    color: #e8e8e8;
    padding: 5px;
	padding-left: 10px;
	grid-row-start: 2;
	box-shadow: -1px 1px 3px 0 #676767;
}

.cardDescription{
	background: linear-gradient(to right, #6100ff, #e8e8e8);
    color: #e8e8e8;
    padding: 5px;
    padding-left: 10px;
	grid-row-start: -3;
	box-shadow: -1px 1px 3px 0 #676767;
}

/*Keyframes are written here !!!!!!!!!!!*/
@keyframes sunlight{
	from {
		background: radial-gradient(circle at 0% 110px,rgb(255, 129, 0)-1%, rgba(255, 235, 0, 0.55) 5%, rgb(3, 150, 255)15%,rgba(0, 156, 255, 0.28)120%);
	}
	to {
		background: radial-gradient(circle at 100% 110px,rgb(255, 129, 0)-1%, rgba(255, 235, 0, 0.55) 5%, rgb(3, 150, 255)15%,rgba(0, 156, 255, 0.28)120%);
	}
}

@keyframes MagicBreath{
	from{
		background: url(/images/HexaScale.png), linear-gradient(#6d00ff,#fff 50%);
	}
	to{
		background: url(/images/HexaScale.png), linear-gradient(#3200ff,#fff 100%);
	}
}
