h4{
	font-size: 1.2em;
	margin: 0px 0px 5px 0px;
}

h5{
	margin: 0px 0px 0.5em 0.5em;
}

#newsContainer{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: minmax(200px,750px);
}

#TheReaderWrapper{
	background-color: white;
	padding: 1em;
	color: transparent;

	h3{
		font-size: 2em;
		margin: 5px;
	}
}

#readerContent{
	border-top: solid var(--accent-color);
	border-bottom: solid var(--accent-color);
}

.articleWrapper{
	background-color: var(--background-dark);
	color: #e0e0e0;
	padding: 20px;
	margin-bottom:10px;
	margin-left:30px;
	cursor: pointer;
	transition: margin-left 0.35s;
}

.selected {
	margin-left: 0;
}

.articleWrapper:hover{
	margin-left: 0px;
}

#newsList{
	overflow: auto;
	grid-column-start: -2;
}

#tagsList{
	list-style: none;
	display: inline-flex;

	a{
		background-color: var(--background-dark);
    color: var(--text-color-dark);
		padding: 0.5em;
		margin-right: 15px;
	}

	a:hover{
		background-color:  var(--background);
    color: var(--text-color);
		border: solid 2px  var(--background-dark);
		margin-right: 11px;
	}

	a:active{
		background-color: var(--background-dark);
    color: var(--text-color-dark);
		padding: 0.5em;
		margin-right: 15px;
		border:none;
	}
	.selectedTag{
		color: var(--accent-color);
	}
}

#authorName{
	float:right;
}
