/*
Color Chart Dark red Workshop:
	#111111 Licorice
	#e9e9e9 Platinium
	#e09f3e Good Yellow
	#9e2a2b Good Red
	#540b0e Bad Red
*/

/*
Color Chart blue green peace:
	#A09EBB pastel purple
	#A8AEC1 Wild Blue Yonder
	#B5D2CB Pastel Blue
	#BFFFBC Tea Green
	#A6FFA1 Mint Green
*/

:root {
	--font-size-base:   14px;
	--background:       #E0E0E0;
	--text-color:       #111111;
	--background-dark:  #111111;
	--text-color-dark:  #E0E0E0;
	--text-color-dark2: #777777; //used for footer
	--accent-color:     #F62217;
}
