/*
Color Chart Dark red Workshop:
	#111111 Licorice
	#e9e9e9 Platinium
	#e09f3e Good Yellow
	#9e2a2b Good Red
	#540b0e Bad Red
*/

/*
Color Chart blue green peace:
	#A09EBB pastel purple
	#A8AEC1 Wild Blue Yonder
	#B5D2CB Pastel Blue
	#BFFFBC Tea Green
	#A6FFA1 Mint Green
*/

$font-size-base: 14px;
$background:     #E0E0E0;
$textColor:      #111111;
$backgroundDark: #111111;
$textColorDark1: #E0E0E0;
$textColorDark2: #777777; //used for footer
$accentColor:    #F62217;
