/*
Color Chart Dark red Workshop:
	#111111 Licorice
	#e9e9e9 Platinium
	#e09f3e Good Yellow
	#9e2a2b Good Red
	#540b0e Bad Red
*/
/*
Color Chart blue green peace:
	#A09EBB pastel purple
	#A8AEC1 Wild Blue Yonder
	#B5D2CB Pastel Blue
	#BFFFBC Tea Green
	#A6FFA1 Mint Green
*/
/*Importing font here*/
html {
  padding: 0px;
  margin: 0px;
  height: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #111111;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "brand header" "main main" "footer footer";
  background-color: #E0E0E0;
  padding: 0px;
  margin: 0px;
  height: 100%; }

a {
  color: #111111;
  font-weight: bold;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #F62217; }
  a:visited {
    color: #111111; }

h2 {
  color: #E0E0E0;
  background: #111111;
  font-weight: bolder;
  display: inline-block;
  padding: 0 2em;
  font-size: 2.2em; }

#brandWrapper {
  grid-area: brand;
  padding: 10px;
  margin: 10px;
  background-color: #111111;
  color: #E0E0E0;
  font-size: 3em; }

/*CSS for header + nav bar*/
#header {
  grid-area: header;
  background-color: #111111;
  display: inline-flex;
  align-items: flex-end;
  padding: 1em 0; }
  #header a {
    color: #E0E0E0; }
    #header a:hover {
      color: #F62217; }
  #header #trainRail {
    font-size: 1.3em;
    width: 100%; }
  #header #navigationList {
    display: inline-flex;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0; }
    #header #navigationList li {
      padding: 0.5em; }
    #header #navigationList .active {
      border: 1px solid #E0E0E0; }

#bodyContent {
  padding: 20px;
  grid-area: main; }

/*CSS for footer*/
#footer {
  grid-area: footer;
  color: #777777;
  background-color: #111111;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center; }
  #footer a {
    color: #E0E0E0; }
    #footer a:hover {
      color: #F62217; }

/*CSS for Home Page*/
#HomePageContainer {
  display: grid;
  grid-row-gap: 20px; }

/*CSS for contact*/
.contactForm {
  display: inline-flex;
  flex-direction: column;
  background-color: #111111;
  color: #E0E0E0;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em; }
  .contactForm input, .contactForm textarea, .contactForm select {
    border: none;
    background-color: #E0E0E0;
    padding: 0.3em;
    margin-bottom: 0.4em; }
  .contactForm select {
    cursor: pointer; }
  .contactForm button {
    border: #E0E0E0 solid 0.3em;
    background-color: #111111;
    color: #E0E0E0;
    font-weight: bold;
    margin-top: 1em;
    padding: 0.5em;
    align-self: center;
    outline: none;
    cursor: pointer; }
  .contactForm button:hover {
    width: -webkit-fill-available; }
  .contactForm button:active {
    background-color: #E0E0E0;
    color: #111111; }
  .contactForm span {
    margin-bottom: 0.2em; }

.contactFormWrapper {
  display: inline-flex;
  flex-direction: column;
  width: 30%; }

#flash-messages {
  background-color: #111111;
  color: #e0e0e0;
  padding: 0.5em; }
  #flash-messages h5 {
    color: #F62217;
    font-size: 1em;
    margin: unset; }

#ListenToUsInContact {
  padding-left: 1em; }

/*Card CSS for about module*/
.aboutContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.aboutCardWrapper {
  display: inline-grid;
  grid-template-columns: 300px;
  grid-template-rows: 300px auto auto;
  margin-bottom: 15px; }

.cardName {
  color: #ffffff;
  background-color: #111111;
  padding: 1em;
  letter-spacing: 5px;
  font-size: 1.5em;
  margin: 0px; }

.cardDescription {
  background-color: #ffffff;
  margin: 0px;
  padding: 1em;
  text-align: justify;
  line-height: 1.4em; }
