/*
Color Chart Dark red Workshop:
	#111111 Licorice
	#e9e9e9 Platinium
	#e09f3e Good Yellow
	#9e2a2b Good Red
	#540b0e Bad Red
*/
/*
Color Chart blue green peace:
	#A09EBB pastel purple
	#A8AEC1 Wild Blue Yonder
	#B5D2CB Pastel Blue
	#BFFFBC Tea Green
	#A6FFA1 Mint Green
*/
:root {
  --font-size-base:   14px;
  --background:       #E0E0E0;
  --text-color:       #111111;
  --background-dark:  #111111;
  --text-color-dark1: #E0E0E0;
  --text-color-dark2: #777777;
  --accent-color:     #F62217; }

/*Importing font here*/
html {
  padding: 0px;
  margin: 0px;
  height: 100%; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: var(--background); }

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color-dark2); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color); }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--font-size-base);
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "brand header" "main main" "footer footer";
  background-color: var(--background);
  padding: 0px;
  margin: 0px;
  height: 100%; }

a {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: var(--accent-color); }
  a:visited {
    color: var(--text-color); }

h2 {
  color: var(--text-color-dark1);
  font-weight: bolder;
  display: inline-block;
  padding: 0 2em;
  font-size: 2.2em; }

#brandWrapper {
  grid-area: brand;
  padding: 10px;
  margin: 10px;
  background-color: var(--background-dark);
  color: var(--text-color-dark1);
  font-size: 3em; }

/*CSS for header + nav bar*/
#header {
  grid-area: header;
  background-color: var(--background-dark);
  display: inline-flex;
  align-items: flex-end;
  padding: 1em; }
  #header a {
    color: var(--text-color-dark1); }
    #header a:hover {
      color: var(--accent-color); }
  #header #trainRail {
    font-size: 1.3em;
    width: 100%; }
  #header #navigationList {
    display: inline-flex;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0; }
    #header #navigationList li {
      padding: 0.5em; }
    #header #navigationList .active {
      border: 1px solid var(--text-color-dark1); }

.navItems i {
  font-size: 1.2em;
  margin-right: 5px; }

#bodyContent {
  padding: 20px;
  grid-area: main; }

/*CSS for footer*/
#footer {
  grid-area: footer;
  color: var(--text-color-dark2);
  background-color: var(--background-dark);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #footer a {
    color: var(--text-color-dark1); }
    #footer a:hover {
      color: var(--accent-color); }

/*CSS for Home Page*/
#HomePageTitle h2 {
  padding: unset; }

#HomePageContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px; }
  #HomePageContainer h2 {
    padding: unset; }

.homePageListItems {
  grid-column-start: 1;
  color: var(--text-color-dark1); }
  .homePageListItems h3 {
    background: var(--background-dark);
    padding: 5px;
    padding-right: 25px;
    margin: 0px;
    display: inline-block;
    clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%); }
  .homePageListItems div {
    background: var(--background-dark);
    padding: 5px; }

.titleQuestion {
  background: var(--background-dark);
  padding: 5px;
  padding-right: 20px;
  clip-path: polygon(0 0, 97% 0, 101% 100%, 0% 100%); }

.titleAnswer {
  font-size: 0.8em;
  padding: 5px;
  padding-left: 20px;
  float: right;
  position: relative;
  background: var(--background-dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%); }

/*CSS for contact*/
#contactWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "contact animation"; }

.contactForm {
  display: inline-flex;
  flex-direction: column;
  background-color: var(--background-dark);
  color: var(--text-color-dark1);
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em; }
  .contactForm input, .contactForm textarea, .contactForm select {
    border: none;
    background-color: var(--background);
    padding: 0.3em;
    margin-bottom: 0.4em; }
  .contactForm select {
    cursor: pointer; }
  .contactForm button {
    border: var(--background) solid 0.3em;
    background-color: var(--background-dark);
    color: var(--text-color-dark1);
    font-weight: bold;
    margin-top: 1em;
    padding: 0.5em;
    align-self: center;
    outline: none;
    cursor: pointer; }
  .contactForm button:hover {
    width: -webkit-fill-available; }
  .contactForm button:active {
    background-color: var(--background);
    color: var(--text-color); }
  .contactForm span {
    margin-bottom: 0.2em; }

.contactFormWrapper {
  grid-area: contact;
  display: inline-flex;
  flex-direction: column;
  padding-right: 10%; }
  .contactFormWrapper .introWrapper {
    background-color: white;
    clip-path: polygon(90% 0, 95% 15%, 100% 95%, 100% 100%, 0 100%, 0% 0); }
  .contactFormWrapper #ListenToUsInContact {
    padding-left: 1em;
    background-color: white; }
  .contactFormWrapper h2 {
    background: var(--background-dark); }

#flash-messages {
  background-color: #111111;
  color: #e0e0e0;
  padding: 0.5em; }
  #flash-messages h5 {
    color: var(--accent-color);
    font-size: 1em;
    margin: unset; }

.contactAnimWrapper {
  grid-area: animation; }

#contactAnim {
  width: 100%;
  height: 100%;
  background: var(--background); }

/*Card CSS for about module*/
.aboutContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.aboutCardWrapper {
  display: inline-grid;
  grid-template-columns: 300px;
  grid-template-rows: 300px auto auto;
  margin-bottom: 15px; }

.cardName {
  color: #ffffff;
  background-color: #111111;
  padding: 1em;
  letter-spacing: 5px;
  font-size: 1.5em;
  margin: 0px; }

.cardDescription {
  background-color: #ffffff;
  margin: 0px;
  padding: 1em;
  text-align: justify;
  line-height: 1.4em; }

h4 {
  font-size: 1.2em;
  margin: 0px 0px 5px 0px; }

h5 {
  margin: 0px 0px 10px 10px; }

#newsContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: minmax(200px, 750px); }

#TheReaderWrapper {
  background-color: white;
  padding: 1em;
  color: transparent; }
  #TheReaderWrapper h3 {
    font-size: 2em;
    margin: 5px; }

.articleWrapper {
  background-color: var(--background-dark);
  color: #e0e0e0;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  cursor: pointer;
  transition: margin-left 0.35s; }

.selected {
  margin-left: 0; }

.articleWrapper:hover {
  margin-left: 0px; }

#newsList {
  overflow: auto;
  grid-column-start: -2; }
