@charset "UTF-8";
/*
Color Chart:
	#111111 Licorice
	#e9e9e9 Platinium
	#e09f3e Good Yellow
	#9e2a2b Good Red
	#540b0e Bad Red
*/
/*Importing font here*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans");
.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto; }

/*Web général elements*/
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', monospace; }

html {
  height: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #111111;
  display: grid;
  /*Logo - Header Rail - BodyContent - Footer*/
  grid-template-rows: 150px repeat(3, auto);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  background-color: #111111;
  background-size: 13px;
  background-attachment: fixed;
  /*commented key frames*/
  /*animation-name: MagicBreath;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-direction: alternate;*/ }

h1 {
  color: #9e2a2b; }

a {
  color: #9e2a2b; }

a:hover {
  color: #e09f3e;
  transform: skew(-10deg); }

a:visited {
  color: #540b0e; }

a:hover:visited {
  color: #e09f3e; }

#brandWrapper img {
  height: 200px; }

/*CSS for header + nav bar*/
#header {
  grid-row-start: 2;
  margin-top: 30px;
  background-color: #b2b2b287;
  border-bottom: solid #686868 1px;
  border-top: solid #686868 1px;
  box-shadow: inset 0 0 5px 0; }

#loginPanel {
  vertical-align: top;
  float: right; }

.navContainer {
  display: inline-flex;
  list-style: none;
  position: relative; }

#navigationList {
  left: 2%; }
  #navigationList li:first-child {
    border-radius: 60% 10% 10% 60%; }
  #navigationList li:last-child {
    border-radius: 10% 60% 60% 10%; }

.navItems {
  padding: 10px;
  background-color: #e9e9e9;
  box-shadow: inset 0 0 2px 0px #540b0e;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 5%;
  color: #540b0e;
  font-weight: bold;
  text-decoration: none; }

#trainRail {
  height: 20px; }

.trainSide {
  position: relative;
  bottom: 10px;
  background-color: #e09f3e;
  box-shadow: inset 0 0 5px 1px #540b0e;
  height: 40px;
  width: 40px; }

.trainWagon {
  height: 20px;
  position: relative;
  bottom: 10px; }

#bodyContent {
  grid-row-start: 3;
  padding: 20px; }

.container {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #e9e9e9;
  padding: 10px; }

/*CSS for footer*/
#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  color: #777777;
  background: linear-gradient(#111111, #540b0e); }

/*CSS for Home Page*/
#HomePageContainer {
  display: grid;
  grid-row-gap: 20px; }

#HomePageContainer h1 {
  color: #9e2a2b;
  font-weight: bolder;
  transform: rotate(-6deg);
  display: inline-block; }

/*CSS for contact*/
.introWrapper {
  display: flex; }

.introContainer {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 2px 2px 5px 1px #0000007a;
  border-radius: 0px 0px 0px 100%; }

.contactFormWrapper {
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: auto auto;
  grid-gap: 10px; }

.contactForm {
  display: inline-grid;
  grid-template-columns: 150px minmax(100px, 160px) minmax(100px, auto);
  grid-gap: 10px;
  box-shadow: 1px 1px 5px 0 black;
  padding: 15px;
  background-color: #c498ffd6; }

.contactForm span {
  font-weight: bolder; }

.contactForm textarea {
  grid-column-start: 2;
  grid-column-end: -1;
  height: 150px; }

.usualBackground {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 2px 2px 5px 1px #0000007a; }

.bottomProtection {
  border-radius: 0px 0px 100% 0px; }

.topProtection {
  border-radius: 0px 100% 0px 0px; }

.form-group {
  grid-column-start: 1;
  grid-column-end: -1; }

.introStick {
  margin-left: 5px; }

/*Card CSS for about module*/
.aboutCardWrapper {
  display: inline-grid;
  grid-template-columns: 150px 200px;
  grid-template-rows: 10px min-content min-content min-content 10px;
  box-shadow: 1px 1px 3px 0;
  grid-column-gap: 10px; }

.cardImage {
  height: 200px;
  grid-row-start: 1;
  grid-row-end: -1; }

.cardName {
  background: linear-gradient(to right, #6100ff, #e8e8e8);
  color: #e8e8e8;
  padding: 5px;
  padding-left: 10px;
  grid-row-start: 2;
  box-shadow: -1px 1px 3px 0 #676767; }

.cardDescription {
  background: linear-gradient(to right, #6100ff, #e8e8e8);
  color: #e8e8e8;
  padding: 5px;
  padding-left: 10px;
  grid-row-start: -3;
  box-shadow: -1px 1px 3px 0 #676767; }

/*Keyframes are written here !!!!!!!!!!!*/
@keyframes sunlight {
  from {
    background: radial-gradient(circle at 0% 110px, #fe8000, rgba(255, 235, 0, 0.55) 5%, #0396ff 15%, rgba(0, 156, 255, 0.28) 120%); }
  to {
    background: radial-gradient(circle at 100% 110px, #fe8000, rgba(255, 235, 0, 0.55) 5%, #0396ff 15%, rgba(0, 156, 255, 0.28) 120%); } }

@keyframes MagicBreath {
  from {
    background: url(/images/HexaScale.png), linear-gradient(#6d00ff, #fff 50%); }
  to {
    background: url(/images/HexaScale.png), linear-gradient(#3200ff, #fff 100%); } }

@keyframes magicBorderRadius {
  from {
    border-radius: 0px; }
  to {
    border-radius: 25px; } }
