/*
Color Chart Dark red Workshop:
	#111111 Licorice
	#e9e9e9 Platinium
	#e09f3e Good Yellow
	#9e2a2b Good Red
	#540b0e Bad Red
*/
/*
Color Chart blue green peace:
	#A09EBB pastel purple
	#A8AEC1 Wild Blue Yonder
	#B5D2CB Pastel Blue
	#BFFFBC Tea Green
	#A6FFA1 Mint Green
*/
/*Importing font here*/
html {
  padding: 0px;
  margin: 0px;
  height: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #111111;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "brand header" "main main" "footer footer";
  background-color: #E0E0E0;
  padding: 0px;
  margin: 0px;
  height: 100%; }

a {
  color: #111111;
  font-weight: bold;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #F62217; }
  a:visited {
    color: #111111; }

#brandWrapper {
  grid-area: brand;
  padding: 20px;
  background-color: #111111;
  color: #E0E0E0;
  font-size: 3em; }

/*CSS for header + nav bar*/
#header {
  grid-area: header;
  background-color: #111111;
  display: inline-flex;
  align-items: flex-end; }
  #header a {
    color: #E0E0E0; }
    #header a:hover {
      color: #F62217; }
  #header #trainRail {
    margin: 1em;
    font-size: 1.3em;
    width: 100%; }
  #header #navigationList {
    display: inline-flex;
    list-style: none;
    position: relative; }
    #header #navigationList li {
      padding: 0.5em; }
    #header #navigationList .active {
      border: 1px solid #E0E0E0; }

#bodyContent {
  padding: 20px;
  grid-area: main; }

/*CSS for footer*/
#footer {
  grid-area: footer;
  color: #777777;
  background-color: #111111;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center; }
  #footer a {
    color: #E0E0E0; }
    #footer a:hover {
      color: #F62217; }

/*CSS for Home Page*/
#HomePageContainer {
  display: grid;
  grid-row-gap: 20px; }
  #HomePageContainer h1 {
    color: #E0E0E0;
    background: #111111;
    font-weight: bolder;
    display: inline-block;
    padding: 0 2em; }

/*CSS for contact*/
.introWrapper {
  display: flex; }

.introContainer {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 2px 2px 5px 1px #0000007a;
  border-radius: 0px 0px 0px 100%; }

.contactFormWrapper {
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: auto auto;
  grid-gap: 10px; }

.contactForm {
  display: inline-grid;
  grid-template-columns: 150px minmax(100px, 160px) minmax(100px, auto);
  grid-gap: 10px;
  box-shadow: 1px 1px 5px 0 black;
  padding: 15px;
  background-color: #c498ffd6; }

.contactForm span {
  font-weight: bolder; }

.contactForm textarea {
  grid-column-start: 2;
  grid-column-end: -1;
  height: 150px; }

.usualBackground {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 2px 2px 5px 1px #0000007a; }

.bottomProtection {
  border-radius: 0px 0px 100% 0px; }

.topProtection {
  border-radius: 0px 100% 0px 0px; }

.form-group {
  grid-column-start: 1;
  grid-column-end: -1; }

.introStick {
  margin-left: 5px; }

/*Card CSS for about module*/
.aboutCardWrapper {
  display: inline-grid;
  grid-template-columns: 150px 200px;
  grid-template-rows: 10px min-content min-content min-content 10px;
  box-shadow: 1px 1px 3px 0;
  grid-column-gap: 10px; }

.cardImage {
  height: 200px;
  grid-row-start: 1;
  grid-row-end: -1; }

.cardName {
  background: linear-gradient(to right, #6100ff, #e8e8e8);
  color: #e8e8e8;
  padding: 5px;
  padding-left: 10px;
  grid-row-start: 2;
  box-shadow: -1px 1px 3px 0 #676767; }

.cardDescription {
  background: linear-gradient(to right, #6100ff, #e8e8e8);
  color: #e8e8e8;
  padding: 5px;
  padding-left: 10px;
  grid-row-start: -3;
  box-shadow: -1px 1px 3px 0 #676767; }
